html{
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: inherit; 
}
.banner_principal {
    background:  #cac728;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.banner_principal header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.banner_principal header .logo a {

font-family: "Rubik 80s Fade", system-ui;
font-size: 36PX;
font-style: normal;
font-weight: 800;
color: #e51818;
text-decoration: none;

}

.banner_principal header ul {
    display: flex;
    list-style: none;
}

.banner_principal header nav ul li a {
    text-align: none;
    color: #e51818;
    margin: 40px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.banner_principal header nav ul li a:hover{
    color: #000000;
}
.nav-responsive{
    background-color: #c60f0f;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
.Home {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(30,35,38,1)),
    url(https://wallpapers.com/images/hd/animated-training-cobra-kai-0ho8u2w08xqxg8j8.webp);
    background-size: cover;
    height: 100vh;
    color: #c60f0f;
    display: flex;
    align-items: center;
    margin: 1px;
}

.Home .titulo_prin {
    background-color: #cac728;
    max-width: 350px;
    margin: auto;
    margin-top: 90px;
    text-align: center;
    border-radius: 100px;
}

.Home .titulo_prin img {
    margin-top: 40px;
    border: 5px solid #c60f0f;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 40%;
}

.Home .titulo_prin h1 {
    font-size: 42px;
    font-family: 'Righteous';
    text-decoration: none;
}

.Home .titulo_prin h2 {
    font-size: 35px;
    font-weight: normal;
}
/*****************/

.aboutus{
    background-color: #000000;
    color: #cac728;
    padding: 50px 20px;
}

.aboutus .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.aboutus h2{
    font-size: 48px;
    font-family: 'Righteous';
    padding: 20px 0;
}

.aboutus .contenido-seccion p{
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 20px;
}

/******************/

.rules{
    background-color: #000000;
    color: #cac728;
    padding: 50px 20px;
}

.rules .col .contenedor-rules{
    max-width: 1100px;
    margin: auto;
}

.rules .col{
    list-style: none;
}

.rules .col{
    width: 115%;
}

.rules .col h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
}


.rules .col strong{
    display: inline-block;
    color: #cac728;
    max-width: 330px;
    margin: auto;
    align-items: center;
}

.rules .col span{
    background-color: #000000;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
    margin: auto;
    text-align: center;
}

.rules .col .contenedor-rules{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.rules .col .contenedor-rules .rules{
    width: 100px;
    height: 100px;
    background-color: #c60f0f;
    border-radius: 10px;
    margin: 0 50px 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

