html{
    scroll-behavior: smooth;
}

.banner_principal {
    background:  #cac728;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.banner_principal header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.banner_principal header .logo a {

font-family: "Rubik 80s Fade", system-ui;
font-size: 36PX;
font-style: normal;
font-weight: 800;
color: #e51818;
text-decoration: none;

}

.banner_principal header ul {
    display: flex;
    list-style: none;
}

.banner_principal header nav ul li a {
    text-align: none;
    color: #e51818;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.banner_principal header nav ul li a:hover{
    color: #000000;
}