html{
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: inherit; 
}


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

.banner_principal {
    background:  #cac728;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.banner_principal header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner_principal header .logo img {

    display: block;
    width: 150px;
    height: 110px;
    left: 50%;
    top: -25px;
    border-radius: 50%;
    line-height: 50px;

}

.banner_principal header .alter img {

    display: block;
    width: 110px;
    height: 110px;

}

.banner_principal header ul {
    display: flex;
    list-style: none;
}

.banner_principal header nav ul li a {
    text-align: none;
    color: #e51818;
    margin: 40px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
    font-size: 20px;
}

.banner_principal header nav ul li a:hover{
    color: #000000;
}
.nav-responsive{
    background-color: #c60f0f;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
.Home {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(30,35,38,1)),
    url(https://wallpapers.com/images/hd/animated-training-cobra-kai-0ho8u2w08xqxg8j8.webp);
    background-size: cover;
    height: 100vh;
    color: #c60f0f;
    display: flex;
    align-items: center;
}

.Home .titulo_prin {
    background-color: #cac728;
    max-width: 350px;
    margin: auto;
    margin-top: 120px;
    text-align: center;
    border-radius: 100px;
}

.Home .titulo_prin img {
    margin-top: 40px;
    border: 5px solid #c60f0f;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 40%;
}

.Home .titulo_prin h1 {
    font-size: 42px;
    font-family: 'Righteous';
    text-decoration: none;
}

.Home .titulo_prin h2 {
    font-size: 35px;
    font-weight: normal;
}
/*****************/

.aboutus{
    background-color: #000000;
    color: #cac728;
    padding: 50px 20px;
}

.aboutus .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.aboutus h2{
    font-size: 48px;
    font-family: 'Righteous';
    padding: 20px 0;
    text-align: center;
}

.aboutus .contenido-seccion p{
    font-size: 20px;
    line-height: 22px;
}

/******************/


.rules{
    background-color: #000000;
    color: #cac728;
    padding: 50px 20px;
}

.rules .col .contenedor-rules{
    max-width: 1100px;
    margin: auto;
}

.rules .col{
    list-style: none;
}

.rules .col{
    width: 115%;
}

.rules .col h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    margin-right: 250px;
    margin-bottom: 80px;
    margin-top: 0px;
}


.rules .col strong{
    display: inline-block;
    color: #cac728;
    max-width: 330px;
    margin: auto;
    align-items: center;
}

.rules .col span{
    background-color: #000000;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
    margin: auto;
    text-align: center;
}

.rules .col .contenedor-rules{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.rules .col .contenedor-rules .rules{
    width: 150px;
    height: 100px;
    background-color: #c60f0f;
    border-radius: 10px;
    margin: 0 50px 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}



/*********************/

.contact{
    background-color: #000000;
    color: #cac728;
    padding: 50px 0;
}

.contact .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.contact h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.contact .fila{
    display: flex;
}

.contact .col{
    width: 50%;
    padding: 10px;
    position: relative;
}

.contact .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #c60f0f;
    color: #cac728;
    font-size: 18px;
}

.contact button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #cac728;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #cac728;
    position: relative;
    z-index: 10;
}

.contact button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #c60f0f;
    z-index: -1;
    transition: 1s;
}

.contact button:hover .overlay{   /***********************/
    width: 100%;
}

.contact .col img{
    width: 100%;
    padding-left: 50px;
}

.contact .col .info{
    position: absolute;
    top: 40%;
    background-color: #c60f0f;
    padding: 20px;
    max-width: 350px;
    left: 62%;
    transform: translate(-50%, -50%);
}

.contact .col .info ul{
    list-style: none;
}

.contact .col .info ul li{
    margin-bottom: 20px;
    margin-right: 30px;
}

footer{
    background-color: #000000ed;
    color: #c60f0f;
    padding: 10px 0 0 0;
    position: relative;
    width: 100%;
}

footer {
    display: flex;
    justify-content: space-between; /* separa el texto y las redes */
    align-items: center;            /* alinea verticalmente */
    padding: 10px;
}


footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #cac728;
    color: black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -70px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}

footer .arriba img{
    display: block;
    width: 50px;
    height: 50px;
    left: 50%;
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
}

.social-container {
    display: flex;
    justify-content: flex-end; /* Mueve todo a la derecha */
    align-items: center;
    gap: 10px; /* Espacio entre los iconos */

}

.social-container img {
    height: 40px;
    cursor: pointer;
    padding-right: 40px;
}


footer p{
font-size: 20px;
padding-left: 10px;
}